#plantList div {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-content: space-between;
}

#plantList img {
  width: 100%;
}

#plantSelection option {
  text-transform: capitalize;
}

.trash {
    transition: 0.5s;
}

.trash:hover {
  transform: scale(115%);
}

#relationshipsDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#relationshipsDiv > div > img {
  max-width: 100%;
}
